[2020-12-23 20:45] lionkor opened #5 "README build instructions are incomplete"
The current build instructions are incomplete, we should either remove them or write a more complete and correct instructions.

Do we need Unix, Windows, Mac? Which toolchains do we support / recommend? Do we offer build instructions at all?

[2021-01-01 14:22] Anonymous-275 commented on #5
unix and windows, for now, recommend MSVC and gcc with O2.

[2021-01-01 15:24] lionkor commented on #5
done in d8e1d389bfd9511d5ab1ad3e2d6857597c1716fc

[2021-01-01 15:24] #5 closed, assigned to lionkor

[2021-01-11 11:11] ghost opened #7 "`make` fatal error: any: No such file or directory"
Hi, when I run make command in BeamMP-Server directory after running `cmake .` and with all dependencies installed I get this error in the console :
[code]
I'd be thankful for any help or advice !

[2021-01-11 20:19] lionkor commented on #7
Hey there! It looks like your compiler does not support C++17. Please make sure your compiler supports it. If you're on linux, you're likely using `gcc`. If you need further help, post the output of `cc --version` here.

[2021-01-12 19:15] ghost commented on #7
Hi, thanks for responding my issue. I tried to reinstall my V.P.S. with Debian 10 before seeing your message... and it runs now, I can launch `./BeamMP-Server` but when I try to join with _BeamMP Client_ I get :

`> Segmentation fault`

![image](https://user-images.githubusercontent.com/40071801/104361008-2c8ad380-5512-11eb-9ee7-8a1e9210f944.png)

Thanks again for your prompt reponse.

[2021-01-12 21:23] coledeck commented on #7
I get the same thing, SIGSEGV as soon as someone joins. Using Arch Linux.

[2021-01-12 21:45] lionkor commented on #7
So, after some investigation, it seems this is a problem with the `master` build right now, related to curl.

For a working and stable version, for now, please use the v1.20 release branch.

To do this, first, switch to it with `git checkout tags/v1.20` and then rebuild.

We're looking into the issue and will push a change as soon as possible. For now, I'll create a new issue for it, so we can tra

[2021-01-12 21:46] lionkor opened #8 "Segmentation Fault on connecting"
When I try to join with _BeamMP Client_ I get:

`> Segmentation fault`

![image](https://user-images.githubusercontent.com/40071801/104361008-2c8ad380-5512-11eb-9ee7-8a1e9210f944.png)

_Originally posted by @mnebeker in https://github.com/BeamMP/BeamMP-Server/issues/7#issuecomment-758876771_

**EDIT:** Here's a temporary workaround:
Either:
1. Download a binary for Debian 10: https://github.com/Be

[2021-01-12 21:51] lionkor commented on #8
This is an issue related to the changes to `Network/Http.cpp`. The crash happens in `Network/Http.cpp:70` on the current master branch (b62676d), inside `curl_easy_perform`.

If you have the same issue, I would recommend rolling back to v1.20, which does not have this issue. You can checkout the code for v1.20 with `git checkout tags/v1.20`, or, for debian, download the latest [linux release](http

[2021-01-13 19:11] selfjell commented on #8
I am having the same issue in v1.20 too. Running debian 10
![Screenshot (18)](https://user-images.githubusercontent.com/25090015/104497986-6ffd4480-55db-11eb-844c-d2468b33fc66.png)

[2021-01-13 19:29] lionkor commented on #8
@selfjell Are you sure? Make sure to checkout the tag, and do a full clean rebuild, and use that binary. I'm making sure since otherwise your crash would mean the issue is not where we think it was...

[2021-01-13 19:33] selfjell commented on #8
I'm pretty sure.
I removed everything, cloned the repository again and did `git checkout tags/v1.20-linux`
Then I ran `cmake .` and `make`

[2021-01-13 19:42] lionkor commented on #8
Damn. Could you get me backtrace of the crash?

You can do this with `gdb`:

`gdb ./BeamMP-Server`
gdb will run, and prompt you with `(gdb) `
, where you enter

`r`

and then it will run. Then, you take the steps to reproduce the crash, so (afaik) joining the server in this case.
You will see a lot of threading related messages, but that's normal.

Once it crashes, you enter `bt` in the gdb consol

[2021-01-14 09:38] selfjell commented on #8
Here's the trace:

![Screenshot (19)](https://user-images.githubusercontent.com/25090015/104572642-39174500-5654-11eb-8688-b3f1a7107a64.png)

![Screenshot (20)](https://user-images.githubusercontent.com/25090015/104572660-3caacc00-5654-11eb-923e-d213caa5176a.png)

Let me know if you need more.

[2021-01-14 10:56] lionkor commented on #8
Thank you, that looks like the same issue. Could you do a Debug build and try it again? You can set a debug build with

`cmake . -DCMAKE_BUILD_TYPE=Debug`

and then rebuild with make.

[2021-01-14 18:13] selfjell commented on #8
Sorry for the tardy reply.
I did a debug build now and used gdb to get the trace.
Think it is much of the same info though.

<img width="722" alt="Skjermbilde 2021-01-14 kl  19 12 26" src="https://user-images.githubusercontent.com/25090015/104631447-8c14ea80-569c-11eb-8d01-b779634d38bc.png">

[2021-01-15 20:56] lionkor commented on #8
Thank you very much. This is still master branch code, as on 1.20 `curl_easy_perform` is not on line 70 in Http.cpp.

Either way, I tracked down approximately what causes the issue, and I'm working on a rewrite of the http system in the server. You can follow the progress on the `segfault-fix-1` branch. Thanks everyone for the help. If you experience this issue as well, please run

`git reset --ha

[2021-01-16 05:38] azm613 commented on #8
Currently battling this, not quite sure what to do.

[2021-01-16 09:28] lionkor commented on #8
@azm613 run these commands in order:
[code]
If you encounter any further issues, please go the the BeamMP discord and mention me in the `#support` `@Lion#5934`

[2021-01-23 10:00] ger-pakon commented on #8
On Ubuntu 20.04.01
with `https://github.com/Tencent/rapidjson/` or the `rapidjson-dev (1.1.0+dfsg2-5ubuntu)` I ran into following Error while compiling:

[code]

My first issue was the segfault, thats why I'm posting here.

Cheers,
Pakon

[2021-01-23 10:41] selfjell commented on #8
Had this issue too on debian. If you are using v1.20 checkout `tags/v1.20-linux` instead of `tags/v1.20`

[2021-01-23 12:12] ger-pakon commented on #8
@selfjell Thank you for the clue, i can compile it now. :-) Hope the segfault is gone, now.

[2021-01-23 12:36] ger-pakon commented on #8
Still get a segfault...

[code]

But the binary file from: https://github.com/BeamMP/BeamMP-Server/releases/download/v1.20-linux/BeamMP-Server-debian seems to work.

[2021-01-24 07:09] ger-pakon opened #9 "[Feature Request] Sideloading (mod) files via http/https"
Hey,

would be great, if there is a setting (maybe a url) locating to a webserver, where the mods can be downloaded.
The folderstructure must be the same as in the game, may makes it more easy. The Client will download the mods from this url instead from the BeamMP-Server.

Cheers,
Pakon

[2021-01-30 10:56] lionkor commented on #8
PR #10 fixes this. Once merged, any other segfaults that may occur likely belong to a different issue, and should be warranted with a new one being opened for them.

[2021-01-30 16:44] ger-pakon commented on #8
Hey @lionkor

after checkout `git checkout origin/segfault-fix-1` I had to install `libboost-dev` and `libssl-dev`.

After recompiling the error disappears as expected. I could join the Server. :-)

PS: In debug mode, I could see, that sometimes the heartbeat seems to trigger more than once in 5 seconds.

Thanks for fixing!

[2021-01-30 18:40] lionkor commented on #8
@ger-pakon

That can happen at the moment, if a "hot-change" update and a normal update overlap... Otherwise it shouldn't. Will look into it, though. I'll change the README as well, once its merged, to reflect the libraries you'll need. CURL should no longer be needed, for example.

[2021-02-01 22:03] synth80s commented on #8
I checked out with my head pointed at the segfault fix, also installed the libboost-dev and libssl dependencies. I am getting a compile error in Http.cpp on #include <boost/beast/ssl.hpp>. I tried installing the latest version 1.75 since debian is only at 1.67 with no fix. I noticed this just includes a few more boost libraries, and when I manually include the, https://www.boost.org/doc/libs/1_74_

[2021-02-01 22:04] synth80s commented on #8
I checked out with my head pointed at the segfault fix, also installed the libboost-dev and libssl dependencies. I am getting a compile error in Http.cpp on #include <boost/beast/ssl.hpp>. I tried installing the latest version 1.75 since debian is only at 1.67 with no fix. I noticed this just includes a few more boost libraries, and when I manually include the, https://www.boost.org/doc/libs/1_74_

[2021-02-01 22:17] #8 closed, assigned to lionkor

[2021-02-01 22:23] lionkor commented on #8
@synth80s this has been closed as this issue is now resolved. Wait a bit for us to fix the documentation, we're still looking into your issue!

[2021-02-01 22:28] lionkor commented on #7
Likely resolved with the latest PR. Closed.

[2021-02-01 22:28] #7 closed, assigned to lionkor

[2021-02-01 22:32] synth80s commented on #8
No problem, it seems like boost is missing the ssl headers and such. I just checked usr/include/boost/beast and ssl.hpp is indeed missing, even in version 1.75 (it was added in 1.71). Does debian's package manager not include this? Feel free to pm me, I am a software engineer and can help look into it as well.

[2021-02-06 11:00] kamaradski opened #13 "make: rapidjson::Document’ has no member named ‘GetObjectA’"
on a new, fresh, ubuntu 20 LTS installation:

# apt update
# apt upgrade
# add-apt-repository ppa:mhier/libboost-latest
# apt-get install -y libboost1.70-dev libboost1.70
[code]

# apt-get install -y git make cmake g++
[code]

# apt-get install -y liblua5.3 libz-dev rapidjson-dev libboost1.70-dev
[code]

# apt-get install -y libssl-dev
[code]

# cd /srv/
# git clone --recursive https://github.com/

[2021-02-06 12:14] kamaradski commented on #13
facing the exact same problem under Debian, this might be because of not having the 1.7x version of libboost?

[code]

however i have not been able to find any information on how to compile a more recent version of libboost-dev. their website kinda assumes you are a c++ developer and fully in the know, which i am not.

edit:
[code]

did also not solve my problem. I obviously do not compile my own

[2021-02-06 16:59] Anonymous-275 commented on #13
Hello! this issue was because of Microsoft headers defining getObject as getObjectA, in the current master branch however, I don't see anything using getObjectA in GParser.cpp so if you could try again it would be appreciated.

[2021-02-10 12:26] ger-pakon opened #14 "Backend system refused server"
@lionkor with commit e4979bb6e2dfe05741163b24ff08c2f4ee3098db and later, I'm not able to connect to the master server.

Is there a change in your infrastructure planned?

Cheers,
Pakon

[2021-02-10 12:43] lionkor commented on #13
@kamaradski we will have fixed this in the next release - until then, please try the fix suggested above and report back

[2021-02-10 12:46] lionkor commented on #14
Hello, please only use tagged versions when building from source. Newest master branch commits are to be considered broken until tagged.

We're working on a new release and some (major) infrastructure changes, which is why master might currently be in a slightly broken state.

So for now use the latest tag.

[2021-02-10 12:51] lionkor commented on #14
@Starystars67 im correct in assuming that, right now, this is expected behavior?

To be clear, this is referring to the commit that introduces the new backend

[2021-02-10 13:11] ger-pakon commented on #14
@lionkor sounds great, I'm excited in what will change. :) Ist there any official roadmap? You can Close this requests.

[2021-02-10 13:20] lionkor commented on #14
We have a trello: https://trello.com/b/Kw75j3zZ/beamngdrive-multiplayer

[2021-02-10 13:20] #14 closed, assigned to nobody

[2021-02-10 16:15] synth80s opened #15 "Update docs for debian boost library"
Debian is listed as the supported OS, not ubuntu. In ubuntu it’s really easy to add a ppa but in Debian 10 I could not get it to work. Also ubuntu PPAs are not supposed to be supported or used in Debian. I ended up downloading boost 1.70 from source forge and compiling it. Maybe want to add a note about that.

[2021-02-15 04:31] PacketShepard commented on #15
You can do this on Debian to get an official libboost 1.7x version

[code]

[2021-02-15 04:41] PacketShepard commented on #13
Hi @kamaradski

Try using this when you check out on Ubuntu, then try the compile again:
`git checkout tags/v1.20-linux`

On Debian I can get it to compile successfully by installing libboost v1.74 from buster-backports and the latest git pull of master.
Use these commands for libboost:

[code]

[2021-02-15 10:45] Starystars67 commented on #9
What would be the intended gain / benefit of doing this?
I am not putting it/you down, just trying to get an idea as to what you are trying to gain by it.

[2021-02-15 11:48] ger-pakon commented on #9
Hey @Starystars67
I see some benefits:
- reducing the "load" of the server (actually its good at all)
- reduces bandwith on the beammp server
- use a CDN or another webserver to increase the speed of the download
  - a own caching - reverse proxy would be possible

Thanks,
Pakon

[2021-02-15 11:50] lionkor commented on #9
I'd like to add that while this is a nice idea, the biggest benefit I see would be that you can host mods from a different server than the BeamMP-Server. Considering the tiny system footprint of a server (even when maxed out with 15+ players), I don't quite see why the server wouldn't live on the same machine as the mods.
I do agree that we should allow the Server Lua to pass FTP/SFTP commands in

[2021-02-15 19:01] Starystars67 commented on #9
@lionkor

This is a bad idea in my opinion as it could be exploited if someone uses a server resource that had malicious intent. HTTP/s post / get requests would be better as it helps to reduce the chance of uploading details / data. I dont know it just feels off to have FTP access for something that shouldn't need it.

[2021-02-24 10:49] lionkor commented on #13
We will have to decide how / if we support debian or if we should rather support ubuntu due to us needing to build boost from sources on debian, or having to use buster-backports (I have not tried this method). It's likely that in the near future we will distribute statically built linux binaries instead. I already verified that we can build the server completely statically now that curl is remove

[2021-02-24 10:49] #13 closed, assigned to nobody

[2021-02-24 10:54] lionkor commented on #15
Adding to say that we encourage to build boost from source. You will need boost-system, boost-thread and probably boost-headers.

I use this script currently in one of the automated builds:

[code]

[2021-04-11 23:32] KickingAnimal opened #18 "Arch Linux: Which packages do I need to build the server?"
I cannot find the right libraries and other dependencies needed to build from source for my archlinux installation as all the package names in the readme file are Debian/Ubuntu style. Any help in pointing me to the right dependencies for arch would be highly appreciated that's the only unclear part of the build guide

[2021-04-11 23:39] lionkor commented on #18
Hi!

On arch and archlinux derivatives, you can use `pacman -Ss NAME` to search for a package, for example `pacman -Ss lua 5.3`.

I think on arch (which I'm on as well) the dependencies are:

- `git`
- `cmake`
- `make`
- `gcc`
- `lua53`
- `zlib`
- `rapidjson`
- `openssl`
- `boost` and `boost-libs`

Command for archlinux to install / update all of those (run as root / sudo):

[code]

[2021-04-11 23:45] lionkor commented on #18
If you encounter any other issues or if this solved your issue, please reply back :) Good luck!

[2021-04-11 23:47] KickingAnimal commented on #18
Yes thanks for the quick response, will test these packages tomorrow (thanks for explaining pacman but know how it works, not my first day on arch ;) ) most of them I did find but I guess I may have missed  boost or boost-libs. Anyway thank you again

[2021-04-12 00:02] lionkor commented on #18
Good luck :)

If you still have issues after, consider joining our [discord](https://discord.gg/beammp) and write me there :) `Lion#5934`

I'll gladly send you an arch binary.

[2021-04-12 00:18] KickingAnimal commented on #18
Yes I am in the discord already, was needed before backend update. `KickingAnimal#3556` would gladly take a binary but will still build myself after so I can update/rebuild if needed

[2021-04-12 07:27] lionkor commented on #15
You no longer need boost to run the server, only to compile it. I'll consider this closed since we distribute binaries that should work on debian and ubuntu.

[2021-04-12 07:27] #15 closed, assigned to nobody

[2021-04-13 16:01] Starystars67 commented on #9
Maybe we could introduce a system where you could position NGINX or similar serving systems. The question is is the issue with your upload or something else?

We are working on fixing the downloading process that was partially broken in the latest update.

[2021-04-14 08:29] Starystars67 commented on #9
No worries @Ae3NerdGod , Sorry for the confusion there. In short the error is that for some reason the launcher is being buggy with the download which messes with the UI in game and in turn everything seems slow and janky. The good news is that we are working on it. Something to note is that the BeamMP server actually does try to serve the files at maximum speed for you to download at and if you w

[2021-04-15 23:58] RichardDastardly commented on #18
Needs boost-libs *and* boost, that caught me out initially - also seems to absolutely need lua53, build failed with the lua51 that was on my build machine. PKGBUILD gratefully accepted sometime :) ( or maybe it can end up in AUR  one day ). I know my way around linux but never actually got round to learning to write PKGBUILDs.

Incidentally the prebuilt ubuntu bin works fine on arch if you manuall

[2021-04-16 16:44] 5TXdYWK opened #20 "[Feature Request] Allow servers to dictate and enforce certain client settings"
Would be nice to expose certain settings in the clients via the server config.

- Tabbing to other peoples' cars
- Auto-sync when modifying cars
- Nametag settings
- Etc.

These could be really handy for different servers/gamemodes where some of those may be important to gameplay/fairness.
Thank you!

[2021-04-16 19:03] 20dka commented on #20
the intended goal with most of the features you listed was to make them a server toggle, we just haven't gotten there yet

[2021-04-19 12:28] Starystars67 commented on #20
Maybe we can make this a server resource?

1. Means others can clearly see how it works & modify settings to their liking / remove it completely for no enforcement.
2. Easy for owners / developers to add additional parameters as desired.
3. Reduced workload on C++ developers given the greater tasks at hand for them to complete.

Thoughts @20dka @lionkor ?

[2021-04-19 14:17] 20dka commented on #20
making it a resource could be done, but then we can't 'lock it down' as easily as a dedicated packet coming from the server. it would also make setting up take more steps on the owners side. but you're correct in that this would put the least amount of load on the server devs, as they wouldn't have to add a new feature

[2021-04-20 17:39] Hambone68 opened #21 "[Feature Request] Add "Server ready" and "Server terminated" status messages to console output"
Using BeamMP pre-compiled Linux dynamic 2.0.3 on Debian 10 with AMP.

I'm working on integrating the BeamMP server into CubeCoders' AMP platform and am running into problems with BeamMP's console output being inconsistent. AMP has a feature that parses console output and displays it in its web interface, and it uses Javascript-style regexes for parsing the console. It requires the regexes to match

[2021-04-22 15:26] lionkor commented on #21
Hello @Hambone68!

The weird escape codes are ANSI control characters. You can ignore these, they can be removed after the fact, but they are an irreplacable part of delivering a usable async I/O in the console. They are part of the [`commandline`](https://github.com/lionkor/commandline) library we use.
The BeamMP-Server's `stdout` was never meant to be used in a unix-y pipe context.
If you want c

[2021-04-26 17:52] toragnetworks opened #22 "Minimum Requirements"
I've looked around the documentation and couldn't find it - what are the recommended specs for hosting a server as far as CPU/RAM? Sorry if I missed it somewhere.

[2021-04-26 17:53] Anonymous-275 commented on #22
i would say a virtual core running at 2.5GHz and 50MB of ram

[2021-04-26 17:57] Anonymous-275 commented on #22
frequency is irrelevant actually and that is minimum as for recommended it's more than 1 core, but the ram usage is really cheap either way

[2021-05-01 15:34] lionkor commented on #22
Adding it to the readme, considering this solved.

[2021-05-01 15:34] #22 closed, assigned to nobody

[2021-05-27 14:37] lionkor commented on #21
@Hambone68 I'm going to need some feedback on this. Otherwise, I'll consider it non-fixable.

[2021-05-27 14:40] lionkor commented on #18
I believe this is solved. Closing for now, reopen if still unclear.

[2021-05-27 14:40] #18 closed, assigned to nobody

[2021-05-27 14:41] lionkor commented on #21
For the "server ready" and "server terminated" you can feel free to open a new issue or clarify this and change the title.

[2021-05-27 14:55] lionkor opened #23 "[Bug] Properly check for player timeout"
Problem:

While a player connects, they don't send any pings. This means that they can timeout if their load takes too long. THeartbeatThread kicks after 5 minutes of no-ping.

Solution:

Either send ping from the start and asynchronous to downloads, *or* fix the timeout in some other way. We need timeout to prevent ghost players (players that show up in the player list but aren't actually there).

[2021-05-27 14:58] Hambone68 commented on #21
So sorry, I never got a notification about the original answer, and had managed to set up enough filtering in AMP to make things work with the server, so I wound up forgetting about this issue. The control characters make more sense now and can be filtered, so it's no problem to leave them now that I know what they're for!

As for the server status messages, I realize that the threading can make f

[2021-05-28 10:08] lionkor opened #24 "Windows history broken"
It appears that on some (all?) windows machines the commandline history does not work.

We uise the lionkor/commandline library for this, so the issue is there: https://github.com/lionkor/commandline/issues/2

[2021-05-28 10:10] lionkor opened #25 "UDP Improvements"
The way UDP messages are currently handled is less than optimal.

Two major improvements are to be considered & implemented:

- [ ] Binary serialization between Launcher & Server, deserializing properly into json for the clientside to handle in Lua.
- [x] UDP packet numbering/timestamping to avoid out-of-order packets being processed. When a new packet arrives and it was sent later than the last p

[2021-05-28 10:20] lionkor commented on #24
Conversation locked, please leave any comments on the linked issue.

[2021-06-02 01:12] ngysling opened #26 "libboost1.70 updated to 1.71 and now it will not compile."
I installed libboost1.71-dev which is the only one available in apt repositories.

`CMake Error at /usr/lib/x86_64-linux-gnu/cmake/Boost-1.71.0/BoostConfig.cmake:117 (find_package):                                                                                                                                            Could not find a package configuration file provided by "boost_system"

[2021-06-02 09:13] Anonymous-275 commented on #26
Hello, no it appears that cmake is infact using 1.71.0 but it cannot find the system packages that you needed to install with it.

[2021-06-02 16:44] ngysling commented on #26
I have 1.71-dev installed. I installed it to my system using apt. It should look for it in $PATH right?

[2021-06-02 17:12] Anonymous-275 commented on #26
cmake should do that automatically, and it listed all the .cmake files names it tried to find but didn't succeed.

[2021-06-02 17:13] Anonymous-275 commented on #26
what cmake version do you have?

[2021-06-02 17:17] Anonymous-275 commented on #26
on arch i have these two installed
![image](https://user-images.githubusercontent.com/36374260/120524237-80be2380-c3df-11eb-9cba-3e32a844a309.png)

[2021-06-05 09:17] vitiacat opened #27 "Linux, Lua attempt to call string value"
In linux build plugins not working. Lua writing " attempt to call a string value" but in windows build (wine) plugin working.

[2021-06-05 11:51] Anonymous-275 commented on #27
hello, thank you for the report we will hopefully fix this in the next server lua update.

[2021-06-17 11:00] lionkor commented on #26
@longdas more info needed. Try reinstalling boost and building from a clean repo from the latest release tag.

If you still run into the same issue, please go into the BeamMP-Server folder and post here the output of:
[code]
and
[code]
as well as
[code]
Thank you and good luck.

[2021-06-17 13:31] Starystars67 commented on #23
New rework of the network can accommodate solutions for this including better ping / health check of clients.

[2021-06-18 09:24] #24 closed, assigned to nobody

[2021-06-18 09:45] lionkor commented on #27
Any help debugging this is appreciated, as we're struggling to find out why this happens.

[2021-06-21 22:35] lionkor commented on #21
FYI We are about to make some larger changes to some core systems in the next release(s), so we're going to wait with this, for now.

[2021-06-22 23:54] #27 closed, assigned to Anonymous-275

[2021-06-25 07:20] lionkor commented on #26
Closing as no more info was provided by @longdas and it doesn't look like a widespread issue. Reopen when that info is available.

[2021-06-26 12:27] vitiacat opened #29 "Linux, Lua"
onChatMessage isn't cancelling
onVehicleSpawn isn't cancelling
onVehicleEdited isn't cancelling

[code]

[2021-06-26 17:48] DedBash opened #30 "Install Script"
Hello I have written an installer script which might be interesting because I noticed that some have to set up the server.
This script contains
- A test if all important things are installed
- The option to download only the server
- The option to run another script to run the server
- The option to install both

to find the whole thing:
[Kiznaiver system´s GitHub](https://github.com/KIznaiver-sys

[2021-06-26 19:26] lionkor commented on #30
"!!!Does not work with the server beta version!!!"

There's no such thing. It looks good - just make sure to put which version EXACTLY it's compatible with.
Also, not sure if a GitHub Issue is the place for this.

[2021-06-26 19:28] lionkor commented on #30
Good work though - it looks very solid. Any way we can help?

[2021-06-26 20:23] DedBash commented on #30
Oh I have clicked the wrong way
And no

[2021-06-27 08:54] vitiacat opened #31 "Add onExit"
I suggest to add event when plugin is stopping so that stop plugin threads or close mysql connection

[2021-06-28 09:16] thatguyinoz commented on #26
Hi
I am seeing very similar symptoms when trying to install on Ubuntu version 20.04

[code]

here is the info that was previously requested:

[code]
boost was installed using

[code]
I hope this info assists in resolving this issue

thank you

[2021-06-28 09:37] lionkor commented on #26
Hello,

I was able to reproduce and fix this on my Ubuntu 20.04.

Please try installing `libboost1.71-all-dev` instead of `libboost1.71-dev`.

[2021-06-28 09:39] #30 closed, assigned to nobody

[2021-06-28 09:40] lionkor commented on #26
I've updated this in the README now. Can you please verify that this fixes your issue? @thatguyinoz and @longdas

[2021-07-02 13:01] 5TXdYWK opened #34 "Lua on Linux: std output file is closed"
[code]

[code]

Fails on `io.write`.

![image](https://user-images.githubusercontent.com/82390521/124277919-fa9b1700-db1b-11eb-940f-4d6a36784bec.png)

[2021-07-03 10:52] lionkor commented on #34
Hello!

I'm not very experienced in Lua programming, so I will ask you to clarify; Are you trying to set the standard output file to some file you opened, and then try to write to that?

[2021-07-03 22:11] #29 closed, assigned to nobody

[2021-07-03 22:11] lionkor commented on #29
Fix will be in v2.1.3.

[2021-07-04 14:13] thatguyinoz commented on #26
We also had to install ```liblua5.3-dev``` in addition to ```libboost1.71-all-dev``` and it then compiled successfully.

Thank you very much for your assistance.

[2021-07-04 16:14] #26 closed, assigned to nobody

[2021-07-04 16:15] lionkor commented on #26
Glad it was fixed. Enjoy!

[2021-07-21 09:33] Starystars67 opened #35 "Whitespace prepending message for the onChatMessage event."
I have found in the latest update of the server that there is prepended whitespace on the message parameter of the `onChatMessage` event in the Lua scripting interface.

Can we get this removed so that we do not need to trim the string before use?

[2021-07-21 14:42] lionkor commented on #35
Hi,

It has already been fixed in the upcoming #32  branch

[2021-07-23 15:34] synth80s opened #36 "Documentation Needs to be updated again"
Include dependencies:
- libwebsocketpp-dev

Install submodule commands
- git submodule init
- git submodule update

[2021-07-23 16:30] lionkor commented on #36
I will add libwebsocketpp-dev, but submodule stuff is handled by `git clone --recursive`. You can always do `git submodule update --init` if you missed that, but I don't think that should be included. We could do a "troubleshooting" section for that kind of thing - that would be a great idea.

[2021-07-23 16:31] lionkor commented on #36
Probably should also add an "how to update" section, which would then need and use submodule update.

[2021-07-29 10:34] lionkor opened #37 "Hard crash on `TServer::Apply`"
- OS: Ubuntu 20.04.2 LTS
- Server Version: v2.1.3 (master branch)

Attached is the 130 MB (!) server log. The server was running west_coast_usa.

The error itself is
[code]

The gdb backtrace of the crash is
[code]

The crash happens in `TServer.cpp:318` in a `std::string::substr`, that's this line:

[code]

From what I can see, this happens right after the user "Bruh2556" creates 4 cars in a row,

[2021-07-29 10:37] lionkor commented on #37
It didn't let me attach the log (as i said, 130MB), but the relevant parts are explained.

[2021-07-29 11:34] #37 closed, assigned to nobody

[2021-08-09 20:33] R2D2VaderBeef opened #43 "Can't build the server on Raspbian, is there any solution?"
**Fill out general information**
OS (windows, linux, ...): Raspbian Buster
BeamMP-Server Version: v2.2.0

**Describe the bug**
I believe this is an issue with the dependency `libboost1.70-all-dev`.  The latest version available to install is `libboost1.67-all-dev`. I have this installed. However, after running `make` the build terminates with the following error:
[code]

**To Reproduce**
Steps to

[2021-08-09 21:11] lionkor commented on #43
Hello!

We do support running on Debian, of which Raspbian is a derivative, so it should work. The boost dependency issue has been a problem for a good bit, but is an issue with Debian, not with us.

The best thing you can do is look up how you can get boost 1.70+ onto a Debian system.

I'd be more than willing to help you get this going in a call on discord (@ me there if you're interested), but

[2021-08-10 08:37] R2D2VaderBeef commented on #43
Thanks a lot! I'll try this, and will contact you on Discord if I have any issues.

[2021-08-10 10:11] R2D2VaderBeef commented on #43
It worked! Thanks a lot.

[2021-08-10 10:11] #43 closed, assigned to nobody

[2021-08-10 13:47] lionkor commented on #34
@5TXdYWK I need more info, otherwise I have to close this

[2021-08-10 13:48] #34 closed, assigned to nobody

[2021-08-10 13:54] lionkor commented on #31
Added `onShutdown` in the new Lua branch, will be in one of the future updates.

[2021-08-10 13:59] lionkor commented on #21
After further review, we decided:
- `Server terminated` is not relevant. You can either check that the process has terminated, or check for `please wait while all subsystems are shutting down`, which is the first message before a server proceeds to shut down. At that point it is considered "shutting down".
- `Server ready` isn't easy to determine. We might do this at some point, though. For now I'

[2021-08-10 14:00] lionkor commented on #21
You could also do it from Lua like it's designed to be done, for which you can use `onInit` and the upcoming (new lua branch) `onShutdown`.

[2021-08-10 14:01] lionkor commented on #21
Since there will also be a rawPrint in the new lua branch, which makes a log line's output arbitrary, I'm closing this issue for now.

[2021-08-10 14:01] #21 closed, assigned to nobody

[2021-08-10 14:08] lionkor commented on #36
for the record, it's going to be `git clone --recurse-submodules`, which is important considering dependency changes in #44

[2021-08-29 23:21] ngysling opened #45 "[Bug] Segmentation Fault in Docker"
Hi all, I'm trying to build a docker image for this binary, both for my convenience and to learn a little more about Docker. Here is the current version of my Dockerfile.

`
RUN \
if [ -z ${BEAMMP_RELEASE+x} ]; then \                                                                                                          BEAMMP_RELEASE=$(curl -sX GET "https://api.github.com/repos/BeamMP/BeamMP-Ser

[2021-08-29 23:24] ngysling commented on #45
So I took an MD5 hash of the file, on my host I get 9d1ead73e678fa2f51a70a933b0bf017. In the container, I get 69bd950057da6381e4a79ab3903550a0. Can someone confirm if either of these are the correct hash?

[2021-08-30 11:21] lionkor commented on #45
For convenience, please try to format the code you post. I did it here, and I took the liberty to change `/app` to `/tmp/app` to make it possible to test it on a non-docker system.
[code]

This is, in essence, the same code you have and it works for me and downloads the correct executable (MD5 `69bd950057da6381e4a79ab3903550a0`), which runs fine.

Your docker container also needs all dependencies

[2021-08-30 15:42] #36 closed, assigned to nobody

[2021-09-04 06:39] ngysling commented on #45
Apologies for the late response, I never got an email. How did you format it properly? I did the code blocks in the editor, but anyway...

In regards to the dependencies, I have liblua5.3-dev libz-dev rapidjson-dev libssl-dev as well as git and curl for building the container. Am I correct in my assumption I don't need g++ and cmake if I'm using a binary? I will try it out anyway.

Edit: I found a

[2021-09-04 10:07] lionkor commented on #45
I will consider this closed then. Reopen if it occurs again.

[2021-09-04 10:07] #45 closed, assigned to nobody

[2021-09-09 07:46] lionkor commented on #23
Was increased from 5 minutes to 20 minutes in #44 (v2.3.1). Fix still in progress.

[2021-10-24 04:17] ngysling opened #52 "Reverse Proxy server w/ Traefik"
Hey all, trying to use a reverse proxy (traefik) to be able to connect to the beammp server. Here are my traefik labels.

[code]

I can connect fine locally, but my friends get a "connection refused" error. I know this could be a plethora of things beyond beamMP, but I was hoping someone has done this before here and could just guide me to a working example. Cheers.

[2021-10-24 07:59] lionkor commented on #52
Hi!

I want to quickly get some things out of the way that are obvious and probably redundant:

1. Check your firewall - it has to allow what youre doing there
2. Make sure you have ports forwarded, like the 30814, and (im not sure what your setup is) ensure that you use 30814 as the port in the ServerConfig (!!!).

[2021-10-25 18:19] ngysling commented on #52
Hello, and thank you for the prompt response. Traefik is a reverse proxy like NGINX or Caddy. It directs all traffic over 443 and diverts it to the correct application. My firewall rules allow everything else, and the ports that need to be forwarded (443) were already forwarded.

I know this can be well beyond the scope of the application, I was just hoping I could get the attention of someone who

[2021-10-25 20:14] lionkor commented on #52
I have a suspicion about what the problem might be.

The port that you reach the server from the internet from and the port that the server itself opens have to be the same port number.

For example, assume:
- The ServerConfig.toml specifies port 12345
- Your domain is `example.com`

Then the server has to be reachable on `example.com:12345`.

You can route that through all sorts of proxies and wh

[2021-11-06 11:32] lionkor opened #54 "[Feature Request] Exports / Shared Data + Functionality"
TODO

[2021-11-06 11:33] lionkor opened #55 "[Feature Request] Lua API: Http(s) GET, POST, ..."
See specification below.

[2021-11-07 17:16] 20dka opened #56 "[Bug] 2.4.0: BeamMP ID not available at the time of onPlayerAuth"
This makes banning a player based on their forum account not "properly" possible. The options are to ban based on username, or to kick them after they pass onPlayerAuth. The issue with the latter is the kick message doesn't get passed through to the joining client, they just get stuck loading

[2021-11-07 17:20] lionkor commented on #56
In #50 we're adding an `ip` field to the `MP.GetPlayerIdentifiers()` table, which exists on auth. The forum ID should obviously also be available, I agree.

[2021-11-07 18:37] Starystars67 commented on #56
@20dka I have just tried this and you can call the `GetPlayerIdentifiers()` function inside of the onPlayerConnecting and it does seem to work. I have just experimented with this in finishing up the new control scripts for the official servers.

[2021-11-07 19:13] lionkor commented on #56
@Starystars67 Yes, but you can't cancel onPlayerConnecting or onPlayerJoining. This means that banning, like @20dka said, isn't possible like this. We *could* try to make those cancelable, but that makes little sense conceptually ("auth" is where you are let in).

[2021-11-07 20:11] Starystars67 commented on #56
@lionkor yeah, on auth is not the way to do it. It would be better done within on player connecting I feel. Thoughts?
This way we could add either a return or just call DropPlayer which is what I am doing now. The issue is that it results in a code 2 rather than the reason that I provide to DropPlayer.

[2021-11-07 20:27] lionkor commented on #56
Auth is where the player is "let in", so that's the *correct* place to cancel ("you cant come in because you're banned").

If I understand @20dka's request correctly, we should pass the player ID to onPlayerAuth, so that the auth can be cancelled by forum id, ip address, or name, not just name. This makes banning people by ip or forum id possible.

[2021-11-07 21:16] Starystars67 commented on #56
Fair enough, In that case I just am using a work around based on my past experience of how it worked on other games.
My running theory was that `onAuth` would be to handle just that and `onPlayerConnecting` would be where you stop them connecting?

[2021-11-07 21:58] lionkor commented on #52
@longdas ?

[2021-11-08 22:06] lionkor opened #57 "Allow Custom IP to bind to"
Currently you can specify a custom IP via the first argument to the server. It's then subsequently ignored by the backend.

The entire thing needs to be an optional config setting, and then be bound to with bind() so that we can ensure the IP is actually owned by the server.

[2021-11-09 08:26] lionkor opened #58 "[Bug] Crash shortly after "identify""
I've seen this being reported before - more information to follow.

[2021-11-09 08:29] lionkor opened #59 "[Bug] 2.4.0: `ip` in `MP.GetPlayerIdentifiers(id)` is wrong"
**Fill out general information**
BeamMP-Server Version: v2.4.0

**Describe the bug**
The `ip` field in the table returned by `MP.GetPlayerIdentifiers()` is wrong.

[2021-11-09 08:34] lionkor opened #60 "[Feature Request] 2.4.0: Show Quotes around strings in `print(table, ...)`"
When printing a table, strings and numbers are indiscernible.

Example:

[code]
`print(mytable)` gives:
[code]

As can be seen, the string and number look the same.

We can either:
1. Show the type
2. Just print quotes around strings
3. both

[2021-11-09 08:38] lionkor commented on #23
Could/should use SO_RCVTIMEO and SO_SNDTIMEO sockopts in order to do timeouts, which would properly detect any timeouts like that. We can do this on all and any recv() and send() calls. That should do a *real* timeout.

[2021-11-09 08:57] Starystars67 commented on #59
Does the IP come from the server to display it or from auth servers?

[2021-11-09 09:00] lionkor commented on #59
From the server, from the active connection

[2021-11-09 09:05] lionkor opened #61 "Enforce that EA version public servers are ran only with EA keys"

[2021-11-09 09:05] Starystars67 commented on #59
Ah okay, phew haha.

[2021-11-09 09:05] #61 closed, assigned to nobody

[2021-11-09 09:06] Starystars67 commented on #61
This would be better assigned to the backend I feel instead of the server as there is not much that you could do to the server for this?

[2021-11-09 09:08] lionkor commented on #61
Yes it was by accident :D

[2021-11-14 22:28] lionkor opened #63 "[Feature Request] Show TID/PID in Debug mode"
The server should show TIDs of threads in order to aid in production-debugging of high cpu usage.

It should look something like
[code]

This is easily done by adding it to the thread name registration stuff.

[2021-11-14 23:27] lionkor opened #64 "[Feature Request] ServerConfig hot-reload"
The server config should hot reload on change, maybe optionally.

Servers running as services (e.g. systemd) run without stdin and thus its impossible to turn on debug without a custom plugin doing it for you.

[2021-11-14 23:28] lionkor commented on #52
Reopen if there is new info on this @longdas, for now i'll consider it closed as solved.

[2021-11-14 23:28] #52 closed, assigned to nobody

[2021-11-19 06:20] RouHim opened #65 "[Feature Request] Provide health endpoint"
**Is your feature request related to a problem? Please describe.**
No it is not related to a bug, it is a suggestion for improvement.

**Describe the solution you'd like**
Some kind of endpoint through which I can check the health of a running server (without evaluating the log).

**Describe alternatives you've considered**
Evaluating the log.
Query something to the query port?

**Additional conte

[2021-11-19 09:43] lionkor commented on #65
Cool idea!

The server either recovers from an error gracefully or closes (fatal).

When people repeatedly fail to connect or download, there is currently no error state that records it. We could do that, though. Adding a health endpoint that currently just says "everything's fine" as long as the server is running could be done. We could add more monitoring later.

What's a common transaction you'

[2021-11-19 10:32] RouHim commented on #65
So I need an endpoint against which I can execute a busybox command.
This could be for example a wget on a http endpoint.
The only important thing is that the called command returns one of the two exit codes:
- 0: success - the container is healthy and ready for use
- 1: unhealthy - the container is not working correctly

I take the option that is easiest for you. If this is a http end point then

[2021-11-19 10:54] Starystars67 commented on #65
I too would like to see a HTTP endpoint made available. This could be then used for health checking but also stats collection and what not without querying the backend for that information.

This could then be used to generate dashboards for controlling servers too (Not like I have this in the works anyway) xD

[2021-11-19 12:04] lionkor commented on #59
Might be a big-endian / little-endian issue

[2021-11-24 23:54] jimkoen opened #66 "[Feature Request] Enable macOS Toolchain Compatibility"
**Is your feature request related to a problem? Please describe.**
Currently the 'BeamMP-Server' project will not compile on macOS Monterey with Apple Clang 12.0.
I assume this is a systemic issue and won't work across all macOS versions, since macOS is rarely a compile target
in C++ application development.

**Describe the solution you'd like**
Either a project that works with the macOS toolchain

[2021-11-24 23:56] lionkor commented on #66
This is a nice idea, I like it. We should sit down together to do this.

[2021-11-25 01:08] lionkor commented on #66
I'm not sure, is this done with #67?

[2021-11-30 04:57] jimkoen commented on #66
It's somewhat hard to say, as beammp-server uses a lot of libraries that aren't natively present on macOS.
Users need to modify the cmakelists.txt file and add the respective paths to the needed libraries (install paths can change depending on the version of macOS and the installation method (manual, brew, macports etc).

For general compatibility it would be great to check all platform agnostic i

[2021-11-30 09:27] lionkor commented on #66
I went and cleaned up all ifdefs in fd7bea0f36c363e1efe67b76db37611cbc4235d5. There's now a `BEAMMP_APPLE` define which is handled everywhere (as far as I can tell).

The libraries are an issue, they might have to all become git submodules and be built by CMake, probably via [ExternalProject](https://cmake.org/cmake/help/latest/module/ExternalProject.html).

Or, of course, Conan or VCPkg

[2021-12-04 06:41] jimkoen commented on #65
### We now have a working HTTP Server on [branch `rewrite-lua`](https://github.com/BeamMP/BeamMP-Server/tree/rewrite-lua).

[Please make suggestions on what metrics you'd like to have available on what endpoints in this issue.](https://github.com/BeamMP/BeamMP-Server/issues/69)

[2021-12-04 07:00] jimkoen opened #69 "[Feature Request] Add OpenAPI specification for http server endpoints"
Related Issue: https://github.com/BeamMP/BeamMP-Server/issues/65

This issue is for drafting a API specification for the upcoming inbuilt HTTP Server.

Please post requests for specific endpoints below.

[2021-12-04 08:19] RouHim commented on #69
Can you please give ma a short curl example for the existing endpoint with output data?

[2021-12-04 08:25] jimkoen commented on #69
This thread was more thought of as an ideas thread. I assume the people interested in an HTTP Server know what kind of information they want to retrieve from a server instance and could therefore post ideas here.

If you read my reply in #65 , you'll see it's still upcoming, i.e. currently neither on the rewrite-lua or master branch. I'm waiting for Lion to merge my changes into rewrite-lua. Once

[2021-12-04 09:22] RouHim commented on #69
Awesome, thank you for tackling this feature request so fast. As I wrote in https://github.com/BeamMP/BeamMP-Server/issues/65#issuecomment-973950358 it is pretty much up to. As long I can run any kind of test against it. For the beginning we could start with simple HTTP response codes like a 200 (OK) if everything is fine; and a 500 (Internal Server Error) if something is wrong.

Example:
[code]

[2021-12-05 17:09] jimkoen commented on #69
I added a health endpoint under `/health` to my PR:

[code]
This will deliver a HTTP 200 Status and a '0' in plaintext when everything is working and a '1' and 500 if there is something wrong.
Currently it will always deliver 200 OK, we're still investigating how to best pass errors and internal problems to the http handlers.

Note that the server is only available using HTTPS and will use self si

[2021-12-05 17:32] jimkoen commented on #54
Could you elaborate further, so contributors can estimate how much work it would be to implement?

[2021-12-05 17:47] RouHim commented on #69
Ok great thank you, but let's go with ssl default port 443 😁

[2021-12-05 18:20] lionkor commented on #69
I'd recommend against this, <1024 ports are reserved for root on \*nix. I'd put a custom port, since I wouldn't like to see someone run a server as sudo. We should pick a reasonable port number for default.

[2021-12-05 18:22] lionkor commented on #69
If you wanted 443, the correct way to do it would be to run the server with some other port and then put up a reverse proxy to map it to 443.

[2021-12-05 18:23] lionkor commented on #54
@Starystars67

[2021-12-05 19:15] RouHim commented on #69
Alright thanks for the explanation 👍

[2021-12-06 10:57] lionkor commented on #69
Some endpoint ideas I could see being useful:
- `GET /players` returns a json object with all players, their names, etc.
- `GET /settings` returns a json object with all "General" settings (except AuthKey etc.)

[2021-12-06 22:03] Starystars67 commented on #69
Just my 2 cents but what about if you bound it to the server port + 1? Plus add this as a config setting to the server config file.

Something like:
[code]

As for suggestions on endpoints. Maybe we could do the following:
`/health` -> this returns a simple OK or to be a little more valuable something that is simple like the player count, packets per second and uptime.
`/stats` -> this would retur

[2021-12-06 23:07] 5TXdYWK commented on #69
Just have it set in the config, much clearer.

[2021-12-06 23:22] Starystars67 commented on #69
Ah sorry I thought this is what I did say by saying

Ah well ;P

[2021-12-06 23:34] 5TXdYWK commented on #69
@Starystars67 sorry i'm functionally illiterate

[2021-12-06 23:47] 20dka commented on #69
i suggest a `/cat` endpoint: returns an ascii kitty

[2021-12-07 12:32] jimkoen commented on #69
Because not every environment can support two Webservers running on the same port (NAT'ed environments being the keyword here). We can let this be the default configuration though, the port I've chosen was rather arbitrary.

[2021-12-09 12:04] #31 closed, assigned to nobody

[2021-12-09 12:04] #35 closed, assigned to nobody

[2021-12-09 12:04] #60 closed, assigned to nobody

[2021-12-09 12:04] #63 closed, assigned to nobody

[2021-12-09 12:04] #65 closed, assigned to jimkoen

[2021-12-09 12:04] #66 closed, assigned to nobody

[2021-12-10 17:02] lionkor opened #71 "[Feature Request] `list` command should columnize players"
Show a number of players (e.g. 8) in a single column, and if there are more than that, figure out the terminal width and print them in multiple columns.

[2021-12-10 18:57] jimkoen commented on #69
[Created a first draft for the API spec](https://github.com/jimkoen/BeamMP-Server/blob/69-open-api-based-http-server/openapi.yml)

[2021-12-13 15:34] 20dka opened #74 "[Feature Request] Lua state reload"
**Is your feature request related to a problem? Please describe.**
Hotreload based on file changes is a nice feature, but it's not something that should be relied on, I would like a more direct "reload x state" feature

**Describe the solution you'd like**
It could make use of the new console command system with a `reload [stateName]` syntax for example

[2021-12-31 02:38] weskoerber opened #77 "[Bug] Server hangs when input is received in the console window"
**Fill out general information**
OS (windows, linux, ...): Windows 10
BeamMP-Server Version: 2.2.0

**Describe the bug**
Server hangs when input is received in the console window

**To Reproduce**
Steps to reproduce the behavior:
1. Start BeamMP-Server
2. Type into console window
3. Try to connect to server

**Expected behavior**
Server should not hang when input is received in the console window

[2021-12-31 16:49] lionkor commented on #77
Hello, please update to the latest public release 2.3.3, and send another log if the issue persists

[2022-01-16 03:48] EvanMulawski commented on #59
This should work:

[code]

Full sample for doing this below (with IPv6 support). The fourth parameter to `inet_ntop` should be the size of the string buffer.

`populate_sockaddr` is just for testing.

[code]

## License

MIT-0. Use source license where referenced.

[2022-01-17 08:21] lionkor commented on #59
I'll review this, thank you @EvanMulawski! Assuming it all checks out, would you give me permission to introduce parts of this into the codebase?

[2022-01-17 16:53] EvanMulawski commented on #59
@lionkor Yes, I added a license section above and references where applicable.

[2022-01-20 19:46] lionkor opened #79 "[Feature Request] Player Join Queue"
**Problem and first solution consideration**

When joining a full server, the player gets rejected and has to refresh the server list constantly, if they want to get in.
The alternative I propose is a queue, which a player joins as soon as they try to enter a full server.

**Implementation Summary**

When joining a full server, the server puts the player with all their data (sockets, name, id, etc

[2022-01-20 20:47] Starystars67 opened #80 "[Bug] Test Issue for Discord webhook"
**Fill out general information**
OS (windows, linux, ...):
BeamMP-Server Version:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Do x ...
2. Do y ...

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
Please attach the `Server.log` from the run in which the issue appeared,

[2022-01-20 20:48] #80 closed, assigned to nobody

[2022-01-20 20:48] Starystars67 commented on #80
Confirmed to be working

[2022-01-21 04:22] weskoerber commented on #77
I don't see this happening with 2.3.3.

[2022-01-21 04:22] #77 closed, assigned to nobody

[2022-01-21 08:39] lionkor commented on #77
3.0.0 brings a huge amount of changes, I hope there is no regression for this bug, we will see :) Enjoy

[2022-02-03 19:48] lionkor opened #84 "[Bug] `MP.IsClientConnected()` does nothing"
It never did anything, and now still does nothing - `TClient::SetIsConnected` is never called anywhere.

[2022-02-03 19:49] lionkor commented on #84
Should be replaced by IsSynced or similar, at least on the implementation-side.

[2022-02-11 09:30] lionkor opened #85 "`rapidjson` needs to go"
Tencent's `rapidjson` is a crashy buggy json parser, and by modern standards its not even fast ("rapid" my ***).

Every usage of rapidjson needs to be replaced with `nlohmann/json` where possible, and `simdjson` where raw speed is necessary (many times faster than rapidjson).

[2022-02-22 17:49] Ratchet-master opened #89 "Issue loading liblua5.3.so"
`
./BeamMP-Server-linux
`
`
./BeamMP-Server-linux: error while loading shared libraries: liblua5.3.so.0: cannot open shared object file: No such file or directory
`
`
ls /usr/lib64/liblua*`
`
/usr/lib64/liblua-5.1.so  /usr/lib64/liblua-5.2.so  /usr/lib64/liblua-5.3.so  /usr/lib64/libluajit-5.1.so.2  /usr/lib64/libluajit-5.1.so.2.0.4
`

Please could you advise further on how I can fix this?

Thanks

[2022-02-22 19:26] lionkor commented on #89
@jedvod hello, please post the output of
[code]
and
[code]

[2022-02-22 22:49] Ratchet-master commented on #89
Linux _-hostname-_ 3.10.0-1160.53.1.el7.x86_64 #1 SMP Fri Jan 14 13:59:45 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux

bash: lsb_release: command not found...

[2022-02-22 22:50] Ratchet-master commented on #89
Closing as I've read further on website that CentOS isn't officially supported, so I'll use wine.

[2022-02-22 22:50] #89 closed, assigned to nobody

[2022-02-23 02:07] lionkor commented on #89
@jedvod *please* don't use wine. You can build the server from source in a few steps, for any linux distribution. See the README.md file in this repository.

[2022-02-28 14:46] lionkor commented on #9
The builtin HTTPS server (#69, #68) could serve the local files, this would simplify the download mechanism to a HTTP/S GET on the client-side, and a simple file serve on the server side. It could also be ratelimited fairly well.

[2022-02-28 14:46] lionkor commented on #9
@jimkoen @Starystars67

[2022-02-28 23:47] lionkor commented on #57
Needs to work in docker/pterodactyl, so ensure we can still check the IP by bind()ing to it

[2022-03-06 21:50] lionkor commented on #55
The API must support both HTTP**S** and plain HTTP. It must support the POST and GET methods at the least, and HEAD would be nice. Each of these methods must support custom headers (as a Lua table), host (example.com) and target (/index.html) as parameters. The POST method must support a body, with the `Content-Length` decided automatically, and the `Content-Type` as a parameter. The GET and POST

[2022-03-07 06:09] justmedev commented on #55
I'll do all that.

And when making a request, there will also be an optional Parameter for a callback function to make it non blocking on luas side

[2022-03-07 06:45] justmedev opened #90 "[Documentation] Documentation for the MP Lua methods"
**Is your feature request related to a problem? Please describe.**
When developing a Server side resource using Lua with a "smart" IDE that has autocompletion, the MP table is not documented which leads to the IDE not knowing about the methods existance.

**Possible implementations**
We could use some kind of Lua doc extension that can also document C++ code. When researching I found LDoc, a rich

[2022-03-07 07:58] lionkor commented on #55
Thats not a good idea. Fundamentally the Lua is single-threaded, so this should be an event, not a callback.

[2022-03-07 07:59] justmedev commented on #55
Why would a callback be blocking?

[2022-03-07 08:01] justmedev commented on #55
And what kind of events would you use? Just emit some kind of multiplayer event?

[2022-03-07 08:04] Anonymous-275 commented on #55
it is in lua since it is single threaded if you execute the task on function call it will wait until it returns, however if you have it as an event it will execute that event when the data is ready on that same thread, or you can have it take a function as an argument and call that function while holding the lua mutex

[2022-03-07 08:05] justmedev commented on #55
I meant the second thing you said. The function could have a callback argument:

`MP.HttpGet(host, target, headers, callback)`

so the function doesn't actually return anything but it invokes the callback once the request is done

[2022-03-07 08:05] lionkor commented on #55
Its the same with event or callback, as long as you can make a callback work properly, im okay with it.

[2022-03-07 08:06] lionkor commented on #55
Basically, we know how events work, and they have become an idiom that we use, but if you can make a callback work, do that

[2022-03-07 08:07] justmedev commented on #55
Wouldn't an event need some kind of identifier so you don't get the wrong response?

[2022-03-07 08:09] lionkor commented on #55
Youd have to specify your own event name, yeah, as i said i like callbacks, if you can make them work

[2022-03-07 08:09] justmedev commented on #55
So MP.HttpGet could return a random number/string and the event contains that I'd in the args. So Lua can check it the id is correct

[2022-03-07 08:09] Anonymous-275 commented on #55
everything is on one thread so you can easily expect the responses in order it will basically be a detached callback

[2022-03-07 08:09] justmedev commented on #55
Ok. I'll try to make a callback

[2022-03-07 08:09] Anonymous-275 commented on #55
yeah sounds good

[2022-03-07 08:17] lionkor commented on #55
just make sure to never, ever call lua from any other thread than the one of that state

[2022-03-12 10:49] OfficialLambdax opened #92 "[Feature Request] Time trial Ghost cars could be possible with BeamMP's already available code"
**Is your feature request related to a problem? Please describe.**
Not with a BeamMP problem. But with the lack of a feature within BeamNG thats requested for many years now by the community
e.g.
https://beamng.com/threads/race-yourself-ghost-replay-option-soon.81588/
https://www.reddit.com/r/BeamNG/comments/leld0z/having_time_trial_ghost_cars_in_beamng_would_be/

**Describe the solution you'd lik

[2022-03-13 15:27] OfficialLambdax commented on #92
Heres a reddit poll https://www.reddit.com/r/BeamNG/comments/tckss4/time_trail_ghost_cars_yes_or_no_that_might_be_a/

[2022-03-13 16:40] 20dka commented on #92
I like this idea, but generally BeamMP tries to stay not bloated, and doesn't include gamemodes/minigames, instead encouraging others to create mods/plugins to achieve what they want on top of BeamMP. With that said there are a few hints already in BeamMP to help accomplish this. For example there is a `fade vehicles based on distance` feature, which, accompanied by the `simplified physics` option

[2022-03-14 00:12] lionkor opened #93 "[Feature Request] Autoupdate"
The servers should allow the server owner to update the server, possibly with a command like `server-update`.

[2022-03-14 00:23] imcarson opened #94 "[Bug] Syslog accumulates massive amounts of data when used with systemd on Raspberry Pi OS"
**Fill out general information**
OS: Raspberry Pi OS 11 (32 bit)
BeamMP-Server Version: 2.3.3

**Describe the bug**
When the executable is built on the Raspberry Pi 4 and run at startup using systemd, using the command ``systemctl status BeamMPServer`` shows tons of lines similar to ``Mar 14 00:09:17 raspberrypi BeamMP-Server[382]: [48.0K blob data]``. There is also tons of data logged to the syst

[2022-03-15 00:59] lionkor opened #95 "[Feature Request] Console basic autocomplete"
The console should autocomplete built-in commands and Lua state globals via TAB.

[2022-03-25 11:38] lionkor opened #97 "[Feature Request] Improve "Backend response failed to parse as valid json" error"
It shouldn't be an error, it should be a warning, and with more information as to what causes it.

[2022-03-25 11:52] lionkor commented on #97
The only print should be
[code]
on every failure (per URL),
and then
[code]
if all URLs failed to respond and the server is NOT private.

[2022-03-25 11:58] lionkor commented on #97
Now, if all URLs fail (which rarely happens), you get
[code]

[2022-03-25 12:35] lionkor opened #99 "[Feature Request] Change default MaxPlayers to 8"
Most people have 6-8 cores, a default of 10 players will cause most people to have low performance. That's unacceptable. 8 is a good number.

[2022-03-25 12:37] lionkor opened #100 "[Feature Request] Periodically remind of updates"
Currently, the update check runs on every startup. It should instead run on every startup, PLUS ever few heartbeats. People need to update.

[2022-05-15 15:23] lionkor opened #103 "[Feature Request] Server List Name Constraints"
Constrain the name to a set length

[2022-05-23 20:34] lionkor commented on #69
You can see the current status of the draft here https://github.com/BeamMP/BeamMP-Server/blob/feature-9/openapi.yml

[2022-05-30 17:04] lionkor commented on #94
This is a bug, but I'm not sure how to tackle this properly. You should probably set stdout to /dev/null, in this case, and use the Server.log file as your source of output, if you need it.

[2022-05-30 17:07] lionkor commented on #77
Still a bug?

[2022-05-30 17:10] lionkor commented on #20
Still needed? Will it be a resource? What's the status?

[2022-05-30 17:12] lionkor commented on #55
justmedev dropped it, it's up for grabs. Http.CreateConnection already exists, as a starting point.

[2022-05-30 17:12] lionkor commented on #55
Otherwise I'll build it for whatever version we do after 3.1.0.

[2022-05-30 17:17] lionkor opened #104 "[Feature Request] Add unit testing to all free or stateless functions"
The server code is a mess because it wasn't designed with testing in mind at all. I aim to fix this. In v3.1.0, we're adding some testing, and this issue is to track that and ideas/issues about it

[2022-05-31 16:23] weskoerber commented on #77
I believe updating from 2.2.0 to 2.3.3 solved the issue. I haven't played since before 3.0.0 was released so I haven't tested it.

[2022-05-31 16:38] lionkor commented on #77
Thanks reopen with new info if it shows up again.

[2022-06-08 13:13] lionkor opened #105 "[Bug] ServerConfig doesn't generate properly"
**Fill out general information**
OS: windows
BeamMP-Server Version: v3.0.1

**Describe the bug**
When launching the server for the first time, only the comments at the top are generated and the rest of the file is empty.

**To Reproduce**
Start the server in a new directory.

**Expected behavior**
A fully stocked ServerConfig.toml should generate, but doesn't.

**Additional context**
After another

[2022-06-08 13:17] lionkor commented on #105
It's pretty much just this abomination https://github.com/BeamMP/BeamMP-Server/blob/master/src/TConfig.cpp#L118

[2022-06-18 23:02] lionkor opened #106 "[Bug] MP.TriggerGlobalEvent sometimes doesn't pass arguments"
**Fill out general information**
OS (windows, linux, ...): Linux
BeamMP-Server Version: v3.1.0 (around 25391fa0c714c8d10ca37e2d1a74f7c2aa9cefdc)

**Describe the bug**
@0R3Z ran into this issue and reported it.

Take the following code:

This code goes in one plugin:
[code]

and this code goes in another plugin:
[code]

Now, when a normal chat message is entered in game (such as `hello world`), the

[2022-06-18 23:04] lionkor commented on #106
Others, please see if this happens for you as well.

[2022-06-25 05:01] GreatHaop opened #107 "[Feature Request] macOS server support?"
**Is your feature request related to a problem? Please describe.**
Although BeamMP server does run on parallels desktop on mac, I want a native version
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Add macOS support
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considere

[2022-06-25 07:20] lionkor commented on #107
Hello, thanks for your suggestion! I've moved it to the correct place :)

We had macos support for a bit, by building it yourself. You can still do this, but it requires CMake knowledge.

If there's enough demand for this, I'd be happy to make that work. If you can find someone who has MacOS and knows CMake and C++, you could get them to PR a change that makes this work.

[2022-07-06 10:33] QuintenQVD0 opened #111 "[Bug] Building"
**Fill out general information**
OS  linux debian 10 buster
BeamMP-Server Version: V3.0.1

**Describe the bug**
I get a error when building in a docker container (Docker base image is debian:buster-slim)

**To Reproduce**

1. run the install script I made: https://pastebin.com/vuRF8Dkv
2. install logs: https://pteropaste.com/avqfr9/
3. error
[code]
**Expected behavior**
This should build to a exec

[2022-07-06 10:38] lionkor commented on #111
Yeah, that should build, that looks like an incompatibility in the debian kernel.

For now, the hotfix would be to go into src/Common.cpp:154 and simply remove the line.

[2022-07-06 10:38] lionkor commented on #111
The real fix here would be to remove that entire thread logging code in release builds. I added it to the 3.0.2 milestone.

Thanks for reporting :)

[2022-07-06 11:26] QuintenQVD0 commented on #111
Note, If I use debian 11 to build , It builds fine. I got It working on ARM64

[2022-07-09 20:55] #97 closed, assigned to lionkor

[2022-07-09 20:55] #99 closed, assigned to lionkor

[2022-07-09 20:55] #100 closed, assigned to lionkor

[2022-07-09 20:55] #105 closed, assigned to nobody

[2022-07-09 20:55] #111 closed, assigned to nobody

[2022-07-10 08:53] QuintenQVD0 opened #112 "[Bug] Building does not work anymore after v3.0.2 was released"
**Fill out general information**
OS debian 11
BeamMP-Server Version: v3.0.1 or v3.0.2

**Describe the bug**
I can't get v3.0.1 or v3.0. 2 not to build

**To Reproduce**
Steps to reproduce the behavior:
1. install script: https://pastebin.com/cLy7NmHy
2. run this install script

**Expected behavior**
I should be able to build v3.0.1 or v3.0.2

**Logs**
 Install logs v3.0.1 = https://pteropaste.com/

[2022-07-10 09:35] lionkor commented on #112
Hi! Can you try switching these lines around please:
[code]
It should checkout, then submodule update :)

[2022-07-10 10:19] QuintenQVD0 commented on #112
new install script: https://pastebin.com/TbkMzeNH

v3.0.2 = https://pteropaste.com/rawz0p ( container just goos from cpu 100% to 5% and it is not killed, It just does not go furder)
v3.0.1= https://pteropaste.com/m02j7q ( container just goos from cpu 100% to 5% and it is not killed, It just does not go furder )

It does not work

[2022-07-10 10:22] lionkor commented on #112
That's a container issue of some kind, the build isn't failing as far as I can tell

[2022-07-10 10:58] QuintenQVD0 commented on #112
On my debian 11 vm 3 gb I have the same issue

[2022-07-10 12:04] QuintenQVD0 commented on #112
nevermind, It builds on my vm if I use the right branch rc-v3.0.2 (AMD64) but in docker on my ARM64 VM with the right branch it fails (docker)

[2022-07-10 16:29] QuintenQVD0 commented on #112
Is there any fix that can be done to this? I would like to run (and compile)  it on ARM64. Yestrday about 24h ago it worked fine

[2022-07-11 05:46] lionkor commented on #112
I'm not quite sure what the issue is - is it possibly running out of RAM?

[2022-07-11 08:10] QuintenQVD0 commented on #112
Yea I think that was hapening, I gave the install container some more ram and with some bash and git magic I got it to work for v3.0.2 and v3.0.1 on ARM64

[2022-07-11 08:10] #112 closed, assigned to nobody

[2022-07-11 08:48] lionkor commented on #112
Glad to hear that! Sadly RAM usage during build is not something we can do much about. You could, in the future, try to give the container swap (if thats a thing, im not sure right now), to prevent this in the future without allocating crazy RAM to the container!

[2022-07-11 08:59] QuintenQVD0 commented on #112
The default in ptero for the install container is 1024MB so 1Gb and 1 thread. I changed it to 2GB ram and 125% cpu so that is 1.25 thread. and it builded fine for ARM64. Thanks for the support!

[2022-07-11 09:03] lionkor commented on #112
By the way, your script sets the map to `gridmap`, which won't work. It needs to be `gridmap_v2` (`/levels/gridmap_v2/info.json`) instead. We're not sure which egg does this, but someone started it, and now it's everywhere.

[2022-07-11 09:06] QuintenQVD0 commented on #112
haha, Thx I changed that now every server that is made with my egg (special made for arm64) now set the map to /levels/gridmap_v2/info.json

[2022-07-12 22:09] lionkor opened #115 "[Bug] 3.1.0 version print issue"
Version updates print every few seconds

[2022-07-13 22:23] lionkor opened #116 "[Feature Request] `onFileChanged` event"
An event which is emitted when a lua file, in the plugin's folder or a subfolder, changes. Something like `filename` is enough as the argument, most likely.

[2022-07-26 11:06] RouHim opened #117 "[Bug] Server does not compile on alpine linux"
**Fill out general information**
OS: alpine
BeamMP-Server Version: master / 3.0.2

**Describe the bug**
The server compile fails with the following error message on alpine linux docker build:
https://github.com/RouHim/beammp-docker/runs/7515428495?check_suite_focus=true

**To Reproduce**
1. Checkout: `git clone https://github.com/RouHim/beammp-docker`
2. Checkout the unfixed state: `git checkout 1

[2022-07-29 15:46] lionkor commented on #94
I can no longer reproduce this on branch rc-v3.1.0 (#83), closing.
Please re-open if it still happens, with new info on how to reproduce on v3.1.0.

[2022-07-29 15:46] #94 closed, assigned to nobody

[2022-07-29 15:47] lionkor commented on #59
fixed in #114

[2022-07-29 15:47] #59 closed, assigned to nobody

[2022-07-29 15:48] lionkor commented on #58
Couldn't reproduce

[2022-07-29 15:48] #58 closed, assigned to nobody

[2022-07-29 15:49] lionkor commented on #115
This might have been a one-off with my version, closing until it happens again.

[2022-07-29 15:49] #115 closed, assigned to nobody

[2022-08-18 10:28] RouHim commented on #117
@lionkor Can I help smh to get this fixed?

[2022-08-18 11:17] lionkor commented on #117
Sorry, currently on break. Will look at it when I'm back.

[2022-08-31 08:09] OfficialLambdax opened #119 "[Bug] Rapid Player Teleportation bug"
**Fill out general information**
OS (windows, linux, ...): Likely Both
BeamMP-Server Version: rc-v3.1.0 ? @lionkor

**Describe the bug**
A players car will teleport rapidly between two positions on the map. Between his actual position and another of unknown origin.
This seems to affect any player that obtains a ID from the server that became "faulty". Multiple factors lead to the assumption that t

[2022-08-31 08:14] lionkor commented on #119
Version is rc-v3.1.0. This is very odd behavior!

[2022-08-31 08:16] OfficialLambdax commented on #119
The bug is old by now. Ive seen this being reported in the old bug-report channel of beammp. The official servers where affected back then

[2022-08-31 08:23] OfficialLambdax commented on #119
What yet has to be discovered is if the game/launcher is sending the faulty packets alongside the actual or if its the server. I would guess its the server, because only players that obtained ID 2 (when i saw it) where affected. Game installation was clean and the mod installation likely too, as verified by a affected player.

[2022-08-31 11:13] snepsnepsnep commented on #119
So the server is receiving valid data, but sends out two different positions under the same player&vehicle ID one after another?

I've encountered that bug on a server before but haven't been able to diagnose where the issue was coming from, other than seeing that I was receiving two positions one after the other for the same vehicle. I assumed it was a weird client bug on the sending side.

[2022-08-31 12:49] OfficialLambdax commented on #119
I assumed the same, that it might be a client thing. But to me it points to the server being the trouble maker. If someone would cap the traffic from the side of the affected or from the side of the server then we would know for sure where to look at

[2022-08-31 13:27] OfficialLambdax commented on #92
The Time Trial ghost car feature will be part of my headless client
https://www.youtube.com/watch?v=ca0F-NQM1IA

[2022-08-31 13:27] #92 closed, assigned to nobody

[2022-08-31 13:40] OfficialLambdax opened #120 "[Bug] UDP - the cause of most of the Desync"
**Fill out general information**
OS (windows, linux, ...): All
BeamMP-Server Version: All

**Describe the bug**
I dont have to explain how UDP works. But you know how if two packets are send
eg.
Packet 1 at, lets say 00:01 (MM:SS)
Packet 2 at, lets say 00:02

then it can happen that packet 2 arrives before packet 1.
Now if that happens with positional updates then that causes desync if the softwar

[2022-08-31 14:08] OfficialLambdax commented on #25
The Json is created by the Lua mod of the game, it is send over the Launcher, to the server and from there broadcasted to the other players launcher and then to their Lua mod.

Now you propose this here?:
Lua Mod send Json -> Launcher converts Json to CBOR -> Server relays that data to the other launchers -> Launcher converts CBOR to Json and sends it to the Lua mod -> Lua mod processes the Json.

[2022-08-31 17:34] snepsnepsnep opened #121 "---------"
------------------

[2022-08-31 17:36] snepsnepsnep commented on #119
I'm fairly certain this bug happens because two different clients somehow end up with the same local server ID and both end up sending data under the same ID, causing the same vehicle to teleport between two positions.

[2022-08-31 18:52] lionkor commented on #92
As this is not planned as a feature, leaving this closed. Headless client is not official as of the time of writing, so will tag this as "wont fix".

[2022-08-31 18:54] lionkor commented on #120
BeamMP takes *massive* bandwidth at the moment. Its multiple TB per month for larger communities with multiple servers. Just wanted to point that out ;)

Yes this needs to be fixed.

[2022-08-31 18:56] lionkor commented on #25
Bandwidth is super expensive, and the larges bottleneck next to CPU at the moment (server side its the only bottleneck). A few CPU cycles to do Json->CBOR is worth it, in theory.

[2022-08-31 19:51] OfficialLambdax commented on #119
Interesting theory, problem being why are there only double the amount of Positional packets and no other

[2022-08-31 19:57] OfficialLambdax commented on #121
.

[2022-08-31 20:03] OfficialLambdax commented on #25
Well you got the IT background, i cant think of a reason why a few kb per second per car is a problem

[2022-08-31 20:08] #121 closed, assigned to nobody

[2022-08-31 21:19] lionkor commented on #25
It's a pretty large packet, with redundant information. Let's say each pos update packet is 200 B, then the server receives 200 B at 100 Hz or so, makes about 20 kB/s. Let's say we have 5 players (which is a good server pop), we are at 20kB * 5 of received data per second. 100 kB/s. From the server's perspective, that's download. Now, of course, each packet is relayed to all other players, so ther

[2022-08-31 21:21] lionkor commented on #25
These are back-of-the-envelope calcs, and there's probably an error, but still - its super redundant.

A float is 4 bytes, but instead of 4 bytes, we send around 15 bytes on average.

for example, a float is [][][][] 4 bytes in binary (e.g. in CBOR), but something like "12.5345437342" as a json value (15+ bytes).

It's simply redundant, and doing the json->cbor should be super cheap.

[2022-09-01 04:26] Erani0 commented on #69
I would like it if there is only 1 page ```/All ``` Or ```/Server``` where everything is listed instead of individual pages this makes it easier to query in general

[2022-09-01 06:17] lionkor commented on #69
@Erani0 thats a nice idea for users, I think we should do that. It wouldnt be easier to query from a programmer's perspective, though - we will have endpoints to access common stats, for example, of course

[2022-09-01 10:47] lionkor commented on #119
Its all in TVehicleData and TClient (probably) - I assigned this the "help wanted" label, maybe one of us can see if they spot a bug there ;)

[2022-09-07 10:35] O1LER opened #122 "[Feature Request] Add basic check for map directory"
A returning problem with setting up a server is getting the map directory set correctly in ServerConfig.toml

There is a very limited amount of maps that need the .mis be linked to. So far i only seen these three maps, but there might be more:

Altitude “/levels/altitude/altitude.mis”
Car Jump Arena “/levels/car_jump_arena/car_jump_arena.mis”
Canion of Speed “/levels/canyon_of_speed/canyon_of_spee

[2022-09-07 15:35] lionkor commented on #122
I love the idea! This needs to be a feature for sure.

A problem with this is that the server would need to open the zip file, and im not 100% positive its worth the effort. Instead, we could just send the map name part to the client, who also gets the mod, and the client can then check for json, mis, etc.

[2022-09-15 03:43] ghost opened #124 "[Bug] No error in console"
**Have you read our FAQ/Wiki/#before-you-ask ?**
Yes

**Describe the bug**
Beammp server console sometimes does not show errors

**To Reproduce**
Steps to reproduce the behavior:
Have a table for each player indexed by name.

Purposely nil out that entry

Then try to access the data/table

Instead of saying something along the lines of "attempt to index nil value" it will just say nothing in the c

[2022-09-15 07:30] lionkor commented on #124
Which server version?

[2022-09-15 07:41] ghost commented on #124
3.0.2

[2022-09-15 08:01] lionkor commented on #124
3.1.0 (not released yet) should fix this, I will send you a version later today to try out, okay?

[2022-09-15 08:06] ghost commented on #124
Oh wow okay thanks a lot! So this was something that you have found a fix for already or just now? Just curious

[2022-09-21 12:33] OfficialLambdax commented on #120
This is plagueing players every day, when will it be adressed

[2022-09-21 13:23] snepsnepsnep commented on #120
It has been addressed client side for now.

[2022-09-21 13:30] OfficialLambdax commented on #120
This is great news. It should fix the forth and back warping of vehicles for now. Is this fix already delivered within 4.4.3?

[2022-09-28 10:29] lionkor commented on #117
Either that should fix it, or only building the server (in case you're (as per default)) also building the tests.

[2022-09-28 11:50] RouHim commented on #117
Ty, I'll test it.

[2022-09-29 16:07] lionkor opened #131 "[Feature Request] Lua UUID4 generator"
We could use a UUID4 generator that generates proper, real UUID4's, because Lua doesn't have the capabilities to do it, and the "lua uuid generator"s online are ~~horseshit~~ *not great*.

[2022-09-29 16:13] lionkor opened #133 "[Bug] Vehicle delete of leaving player gets lost"
When a player leaves, the packet notifying of vehicle delete sometimes gets lost.

[2022-10-03 13:35] lionkor commented on #124
found another place where this was happening, so this is all now fixed with #83 once merged

[2022-10-03 13:36] lionkor commented on #107
Fixed in #110, please reopen if the issue persists nonetheless.

[2022-10-03 13:36] #107 closed, assigned to nobody

[2022-10-07 08:39] RouHim commented on #117
How can I disable the tests? With the flag: `BUILD_TESTS=OFF`?

Edit:
Ok nice, that actually worked :D
Looking forward for this PR.

[2022-10-08 08:05] RouHim commented on #117
For completeness I would like to mention that a build under ARMv7 does not work:
https://github.com/RouHim/beammp-container-image/actions/runs/3205137915/jobs/5237287004

[2022-10-10 08:04] Mack29446 opened #135 "[Bug] Pass player username and identifiers on `onPlayerDisconnect` event"
**Is your feature request related to a problem? Please describe.**
Often, when the `onPlayerDisconnect` event is triggered, the player has already been removed from the `MP.GetPlayerIdentifiers()` and `MP.GetPlayerName()` tables, which makes it difficult to keep track of players.

**Describe the solution you'd like**
Two additional variables on the `onPlayerDisconnect` event

**Describe alternativ

[2022-10-10 11:00] daniel-w0 commented on #135
Good idea, I'll check it out soon.
My workaround in Lua is to add the users to a table when they join.

[2022-10-14 03:01] Luc45 commented on #79
This sounds perfect. Are there plans to implement this some time?

[2022-10-14 09:45] lionkor commented on #79
From my side, yes, anytime, but @20dka, @Starystars67, @Anonymous-275 need to also do things for it, so it would be a coordinated effort.

[2022-10-17 07:59] lionkor opened #136 "[Feature Request] Bot Vehicles / Vehicle Spawn Plugin API"
**Is your feature request related to a problem? Please describe.**
It would be very useful to be able to write a Lua Plugin, and spawn specific vehicles from there. We could simply allow the player to specify the path of a vehicle file, and parse & spawn that (not sure how easy that is), under some imaginary player name (with a special name, such as `*<name>`, like `*James`, to signify that it's a

[2022-10-17 11:47] lionkor commented on #90
This is too much work, and requires documenting the API in *yet another place*. Anyone feel free to do this and reopen the issue accordingly.

[2022-10-17 11:47] #90 closed, assigned to nobody

[2022-10-18 11:39] OfficialLambdax commented on #136
Im trying to think of a use for this. One that comes up my mind is the modders ability to spawn props, like barriers and props on his server for events. For that either MP.SpawnVehicle() or a editVehicle() function should make it possible for the modder to make the cars player tag invinsible.

[2022-10-18 14:28] lionkor commented on #136
Yeah, the prop thing was my main idea for now. Also spawning other cars, all the way up to potentially making ghost cars like your HC - that should all be possible in the future. The "definition of done" for this issue is the prop case working.

[2022-10-18 15:04] Starystars67 commented on #136
May I suggest a slight expansion to this and maybe break it up into a couple of functions:

[code]

Just my 2 cents. :)

[2022-10-18 15:07] Starystars67 commented on #136
With regards to the suggestion of a `MP.editVehicle` Maybe this can be broken down slightly based on how the client works into:

[code]

Alternatively maybe we could do a `MP.GetVehicle()` which you can then call getters and setters on? This would be similar to how the object in-game is so that you only need to learn the vehicle object and how it works once for both game and server.

[2022-10-18 15:35] Starystars67 commented on #90
If I may @justmedev what IDE are you using as it may be possible to build an extension for it which contains the hints / snippets you may like?

[2022-10-18 15:38] lionkor commented on #90
iirc he left the project

[2022-10-18 15:42] Starystars67 commented on #79
Hey @lionkor I wonder if this maybe could be adjusted into a server-side mod written in lua, So what would happen is the player cap is set to something higher and then players who join past a configured value in the mod config would be set as spectators and when they try to spawn a vehicle the script cancels the spawn event before sending to other clients.

Just an idea.

[2022-10-18 15:45] justmedev commented on #90
I use Jet rains IDEs but yes, as lion noticed, I am no longer actively involved in the development of this project as I've stopped playing beamng

[2022-10-18 15:45] lionkor commented on #79
Yeah, we could do that - but it should really be a core feature IMO

[2022-10-18 15:51] Starystars67 commented on #79
Fair enough, was just an idea and a possible option to reduce work but if you are happy for it then I am too :)

[2022-10-18 15:55] Starystars67 commented on #90
Fair enough.

Even still this may be something that would be a nice QoL thing to help others in the future.

[2022-10-18 16:27] 20dka commented on #79
This has been a feature of Cobalt Essentials for a very very long time

[2022-10-18 18:08] lionkor commented on #79
Yes, and it's also completely different from the point of the issue, please let's keep it ontopic from now on

[2022-10-22 19:16] lionkor opened #137 "[Bug] No BeamMP forum ID returned from MP.GetPlayerIdentifiers() in 3.1.0 pre-release"
BeamMP forum ID is no longer present in 3.1.0:

![image](https://user-images.githubusercontent.com/29932116/197358619-cf654de7-be91-40aa-a0f4-22767c722681.png)

Also not present during onPlayerAuth()

![image](https://user-images.githubusercontent.com/29932116/197358625-286621f0-0ab7-48c7-9c22-14dba0e3b37f.png)

[2022-10-22 21:24] #56 closed, assigned to nobody

[2022-10-22 21:24] #95 closed, assigned to 20dka

[2022-10-22 21:24] #116 closed, assigned to nobody

[2022-10-22 21:24] #124 closed, assigned to nobody

[2022-10-22 21:24] #137 closed, assigned to lionkor

[2022-10-23 20:58] lionkor commented on #84
@Anonymous-275 when is UDP first sent, launcher-side?

[2022-10-23 20:58] Anonymous-275 commented on #84
When the game finished loading the map

[2022-10-23 20:59] lionkor commented on #84
Okay, so setting this to "true" once we get UDP was correct, and intended, then

[2022-10-23 21:03] Anonymous-275 commented on #84
Yup of course

[2022-10-23 21:04] lionkor commented on #84
Yeah this needs a complete redo, it makes no sense to do it like this - this should become part of the actual sync

[2022-10-23 21:05] Anonymous-275 commented on #84
Yeah we need to engineer a new system from top to bottom

[2022-10-23 21:06] lionkor commented on #84
No, I mean, the IsClientConnected makes very little sense, and the assignment of a udp endpoint to a client here makes no sense either (im looking at the code). That's alright, I'll fix it for now

[2022-10-23 21:08] Anonymous-275 commented on #84
Well you kinda need to know from who is that position packet and who to send the other packs from all other clients ect...

[2022-10-23 21:08] lionkor commented on #84
Yes :) I get that

[2022-10-23 21:09] Anonymous-275 commented on #84
It is also convenient that the first packet is when the map loaded so you know that client can even get the other's position packets in the first place

[2022-10-23 21:09] lionkor commented on #84
I see

[2022-10-23 21:10] Anonymous-275 commented on #84
Wait what is this issue again? xD

[2022-10-23 21:11] lionkor commented on #84
Well, this is about IsClientConnected, but I discovered the entire UDP recv loop we have is not making much sense, so I'll change it and keep the client connected the way it is (but in a new implementation)

[2022-10-23 21:12] Anonymous-275 commented on #84
Uhhhh ok... shouldn't we have a plan to execute so that the entire network system is remade according to it

[2022-10-23 21:13] lionkor commented on #84
No, it'll behave the same :) I'm just monologing that I will change it

[2022-10-23 21:15] Anonymous-275 commented on #84
Alrighty I would say don't over do it to not waste time but you do you :)

[2022-10-24 14:57] StanleyDudek opened #141 "[Bug] MSVCP140.dll and / or VCRUNTIME140_1.dll errors"
**Fill out general information**
OS: Windows 7, unknown Windows-based VPS, unknown linux using wine
BeamMP-Server Version: 3.1.0

**Describe the bug**
Server owners upgrading from 3.0.2 to 3.1.0 are reporting these errors at server start.

![image](https://user-images.githubusercontent.com/49531350/197557449-1f973b67-7710-4463-9f88-752933506e34.png)

![image](https://user-images.githubusercontent.

[2022-10-26 12:42] lionkor commented on #141
Hi! I think I might have fixed it, who can I contact to test a fix?

[2022-10-26 12:44] StanleyDudek commented on #141
Uhhh, I guess any server owner that newly reports the issue in the discord or forum, and who HASN'T already installed the VC redist as a fix?

[2022-10-26 12:45] lionkor commented on #141
Okay, sounds good, thanks

[2022-10-27 12:18] RouHim commented on #117
The latest release version works again. Thanks.

[2022-10-27 12:18] #117 closed, assigned to nobody

[2022-10-27 13:30] lionkor commented on #117
I'm very glad!

[2022-10-28 15:19] lionkor opened #143 "[Bug] Formatting bug in `status`"
When running `status`, there's a bug here:
![image](https://user-images.githubusercontent.com/29932116/198673362-0e7c740a-c085-4c1d-aa3c-dffabbae3725.png)

At "Shut down:" there shouldn't be a space at the end

[2022-10-28 15:45] lionkor commented on #135
I looked into it - this was a bug, and will be fixed in v3.1.1 (#142)

[2022-10-28 16:47] QuintenQVD0 opened #144 "Starting a server on debian11"
Hi there,

I am updatig my pterodactyl egg to support the latest update v3.1.0 but it needs libssl3 to run and that package is not avaible on debian 11 but only on 12 what is not yet realeased and we use docker to run the servers it is not realy posible to install this package with our current setup and it needs it to start. https://github.com/parkervcp/eggs/issues/1930 Is there any way we can fix

[2022-10-28 17:12] Mack29446 commented on #144
There is an official Debian build on the 3.1.0 release: https://github.com/BeamMP/BeamMP-Server/releases/tag/v3.1.0

[2022-10-28 17:29] QuintenQVD0 commented on #144
Thank you did not see that

[2022-10-28 17:29] #144 closed, assigned to nobody

[2022-10-29 23:12] lionkor commented on #141
Doesn't work yet, help appreciated.

[2022-10-30 13:45] Anonymous-275 commented on #141
only way to fix this is to build the server as static

[2022-10-30 14:00] lionkor commented on #141
Yes, @Anonymous-275, I know - could you look at

https://github.com/BeamMP/BeamMP-Server/blob/rc-v3.1.1/CMakeLists.txt#L53

and the previous versions, because NONE of them worked. That is statically building, the issue isn't that I don't know that it's the fix, the issue is that it doesn't do it

[2022-10-30 14:02] Anonymous-275 commented on #141
You need these lines
https://github.com/BeamMP/BeamMP-Launcher/blob/master/CMakeLists.txt#L5-L7

[2022-10-30 15:34] lionkor commented on #141
Yes, I know, they were in the server - we just need a way to toggle them off. I went through multiple iterations: The first was to simply put the code you sent into an if(), but that didn't work (no clue why).

Those lines are they are in the launcher are NOT how you do it with modern CMake, which we use in the Server, and so I put those lines I linked to in my previous comment. That's how you pic

[2022-10-30 15:35] lionkor commented on #141
https://cmake.org/cmake/help/latest/variable/CMAKE_MSVC_RUNTIME_LIBRARY.html

![image](https://user-images.githubusercontent.com/29932116/198887460-821d7b02-9327-4258-82de-8061bcd50c04.png)

[2022-10-30 15:36] lionkor commented on #141
![image](https://user-images.githubusercontent.com/29932116/198887476-e03b7d4e-1d4a-45a4-9c82-4f2e942fd0db.png)

[2022-10-30 15:36] lionkor commented on #141
Maybe the vcpkg cmake is wildly out of date and doesn't support this? I wouldn't be surprised

[2022-10-30 16:02] Anonymous-275 commented on #141
you need to have all the libraries from vcpkg be static as well but you need that flag to be always active since as soon as you need or want it to not be you will have to link to that DLL there is no other way sadly.

[2022-10-31 10:32] #135 closed, assigned to nobody

[2022-10-31 10:32] #143 closed, assigned to nobody

[2022-11-06 01:19] 20dka opened #145 "[Feature Request] Include LuaSocket"
Bundling LuaSocket with the server would eliminate current issues where plugins have to include precompiled versions, which can easily lead to incompatibilities

[2022-11-06 12:45] 20dka opened #146 "[Feature Request] Lua: MP.Get function"
A function to get server settings would eliminate the need for TOML parsers for most plugins.

[2022-11-11 14:57] Mack29446 opened #148 "[Feature Request] Add `version` console command to display the server version"
**Is your feature request related to a problem? Please describe.**
It would make it easier to maintain and update the server if I could easily check the version with a command. Software like Pterodactyl may not allow you to scroll up far in the console

**Describe the solution you'd like**
a `version` command in the server console

**Describe alternatives you've considered**
Displaying the version

[2022-11-11 15:14] lionkor commented on #148
We do already have `./BeamMP-Server --version`, for your information.
A `version` command sounds really good to have, though, thank you

[2022-11-11 15:18] lionkor commented on #148
Oh, there's also `print(MP.GetServerVersion())` in the Lua console (`lua`), if you need to do it on servers before we add this :^)

[2022-11-11 15:53] Mack29446 opened #149 "[Bug] Server does not automatically create `Client` folder, inside `Resources` on first run"
**Fill out general information**
OS: Linux, Docker Debian
BeamMP-Server Version: 3.1.1

**Describe the bug**
The server does not automatically make the `Client` folder within `Resources`, but it does create the `Server` folder, when run for the first time

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a new server in a clean directory
2. Observe that the Client folder is not created
3

[2022-11-11 15:54] Mack29446 opened #150 "[Feature Request] Read mods not only from the top level `Client` folder, but subfolders too"
**Is your feature request related to a problem? Please describe.**
It would be nice for organisation purposes if the server could read mod ZIP files from within subdirectories inside the `Client` folder

**Describe the solution you'd like**
The server to check subfolders for mods, and properly server them

[2022-11-11 16:05] Mack29446 opened #151 "[Bug] Server does not close after 10 seconds if there is no authkey present"
**Fill out general information**
OS: Windows & Linux
BeamMP-Server Version: 3.1.1

**Describe the bug**
On a fresh server, the server does not close after 10 seconds, despite it saying that it will.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a fresh server
2. Observe it complain about the authkey
3. It does not close

**Expected behavior**
Either don't complain about the authkey,

[2022-11-11 16:07] Mack29446 opened #152 "[Bug] Server does not generate any files on Windows"
**Fill out general information**
OS: Windows 10 21H2
BeamMP-Server Version: 3.1.1

**Describe the bug**
When running the server for the first time, it does not generate any files.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a BeamMP Server in an empty directory

**Expected behavior**
Files to be created on the first run, such as `Resources` folders, and a `ServerConfig.toml`

**Logs*

[2022-11-11 16:16] Mack29446 commented on #152
Nevermind, I think file explorer wasn't refreshing

[2022-11-11 16:16] #152 closed, assigned to nobody

[2022-11-11 19:59] lionkor commented on #149
I can't reproduce this, can someone else please confirm this?

Note that when the server complains about a key, it will not generate any folders.

[2022-11-11 21:16] lionkor commented on #119
Removed from the milestone, as there is no way for me to reproduce this.

[2022-11-12 02:31] lionkor commented on #119
Probably closed by v3.2.0 (after talking to the other devs). Closing with merge of v3.2.0, reopen then if not fixed after all.

[2022-11-12 11:00] OfficialLambdax commented on #119
I heared player complaining about other players rapidly teleporting and ive seen it myself. It seems to happen just very rarely aka in just certain circumstances that are completly unknown to us. I will leave a comment when i or someone else sees it again

[2022-11-12 23:55] snepsnepsnep opened #153 "[Feature Request] Player pings"
**Is your feature request related to a problem? Please describe.**
A map of pings of every player on the server.

**Describe the solution you'd like**
A packet that gets broadcast to everyone and contains all the players and their ping value.

[2022-11-13 12:57] lionkor opened #154 "[Bug] TNetwork::OpenID may assign the same ID to two players"
If two players both call TNetwork::OpenID at the same time, the function may assign them both the same ID. This can be fixed by making the calls exclusive to each other in some way.

[2022-11-13 14:01] OfficialLambdax commented on #154
so two players ended up logged in with the same ID? what happend if one then disconnected? or when both have spawned car?
Maybe related to https://github.com/BeamMP/BeamMP-Server/issues/119

[2022-11-13 14:04] lionkor commented on #154
It may be related, yeah. I just saw the code allows this *technically*. It's a SUPER unlikely data race, but since it can happen, it'll be fixed in v3.2.0. The most common possible cause for #119 is also fixed in v3.2.0 (a packet impersonation bug).

[2022-11-13 14:08] OfficialLambdax commented on #154
For me both bugs actually make up #119. Because anyone could broadcast packets for any vehicle. And since there where then two players with the same id, that could explain the rapid teleportation of one car between two moving spots and the difference in the json formats of the PosRot (Zp) packets <- which previously indicated that the packets come from two different origins

[2022-11-13 14:50] OfficialLambdax commented on #119
That might have been a right guess - https://github.com/BeamMP/BeamMP-Server/issues/154 - we gonna see if we ever see this bug again after v3.2

[2022-11-13 17:34] lionkor commented on #119
I mean, #154 is extremely unlikely to happen, this is two players calling OpenID() within the same 0.1ms or so

[2022-11-13 17:34] lionkor commented on #119
It's more likely other issues that were also fixed in 3.2.0

[2022-11-18 00:00] snepsnepsnep opened #157 "[Bug] Server events are sent to the client before they have "synced""
**Describe the bug**
The launcher interprets "E" packets as kick packets pre-sync causing the user to get kicked by events.

**Solution**
Don't send any events to the client until they have "synced".

[2022-11-18 11:47] OfficialLambdax commented on #157
Can confirm. This was a bug in my bot months ago
![sdsdsd](https://user-images.githubusercontent.com/91626975/202698332-1b0d1a30-d73e-4db7-a9ec-42543ffd2c03.jpg)

[2022-11-22 22:45] Mack29446 opened #158 "[Bug] Running `settings help` returns nothing"
**Fill out general information**
OS: Linux
BeamMP-Server Version: 3.1.1

**Describe the bug**
Running the `settings help` command, as suggested within the `help` command, returns nothing

**To Reproduce**
Steps to reproduce the behavior:
1. Run `settings help`
2. Observe nothing happen

**Expected behavior**
Something to happen

[2022-11-23 08:16] lionkor commented on #158
Yeah, I'm an idiot and forgot to remove `settings` from 3.1.x. It'll be implemented properly in 3.2.0, and has `get`, `set`, etc.

Please feel free to try it (contact me to get a pre-release-build for example), or see an example here:
![image](https://user-images.githubusercontent.com/29932116/203498960-767835d4-a1c0-4f0d-b418-f9e3656ad348.png)

So this will be fixed by v3.2.0, and can't be fixed

[2022-11-29 21:59] Ratchet-master opened #159 "[BUG] Centos build"
**Fill out general information**
OS (windows, linux, ...): Linux Centos 7
[code]
BeamMP-Server Version: 3.1.1

**issue**
I can't get this to run on my server and would kindly ask for help compiling the file to run on my distro of linux.

**To Reproduce**
tried making the build manually and tried using the -linux file that I have been using for many months, (I've just decided to upgrade the server)